<h1>New User: </h1>

<%= form_with model: @user do |form| %>
  <%= form.label(:username, "Username:") %>
  <%= form.text_field :username, placeholder: "min 4 characters" %>
  <br>
  <%= form.label(:email, "Email:") %>
  <%= form.email_field :email, placeholder: "example@mail.com" %>
  <br>
  <%= form.label(:password, "Password:") %>
  <%= form.password_field :password, placeholder: "min 8 characters" %>
  <br>
  <%= form.submit %>
<% end %>
